# ==========================================
# CONFIGURAÇÕES DO BANCO DE DADOS (MYSQL)
# ==========================================

# Senha do usuário root (administrador supremo) do MySQL
MYSQL_ROOT_PASSWORD=

# Nome do banco de dados que será criado automaticamente ao iniciar o container
MYSQL_DATABASE=

# Nome do usuário comum que terá acesso ao banco de dados
# MYSQL_USER=users

# Senha do usuário comum do banco de dados
# MYSQL_PASSWORD=password

# Porta de usuario
DB_PORT=

# ==========================================
# CONFIGURAÇÕES DE CONEXÃO DA APLICAÇÃO (BACKEND)
# ==========================================

# Usuário utilizado pela API para se conectar ao MySQL
DB_USER=

# Senha utilizada pela API para se conectar ao MySQL
DB_PASSWORD=

# Nome do banco de dados que a API irá consultar/utilizar
DB_NAME=